body {
	background: #41BDE4;
	padding: 15px;
}

textarea {
	width: 550px;
	height: 350px;
	font-size: 22px;
	padding: 12px;
}

button {
	margin-top: 25px;
	font-size: 25px;
	padding: 25px;
	background: #F73856;
	border: 1px solid #F73856;
	width: 250px;
}